@charset "UTF-8";
.container {
  width: 1000px;
  margin: 0 auto;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}

/* ヘッダー */
header {
  width: 1000px;
  position: fixed;
  z-index: 100;
  background-color: white;
}
header .headerInner .openbtn {
  position: fixed;
  z-index: 10;
  top: 33px;
  right: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
  border: solid #5ee5cf;
  border-radius: 9999px;
}
@media screen and (max-width: 680px) {
  header .headerInner .openbtn {
    display: block;
  }
}

/* トグルメニュー */
header .headerInner .openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 6px;
  border-radius: 2px;
  background-color: #5ee5cf;
  width: 36px;
}
header .headerInner .openbtn span:nth-of-type(1) {
  top: 11px;
  left: 8px;
}
header .headerInner .openbtn span:nth-of-type(2) {
  top: 22px;
  left: 8px;
}
header .headerInner .openbtn span:nth-of-type(3) {
  top: 33px;
  left: 8px;
}
header .headerInner .openbtn.active span:nth-of-type(1) {
  top: 11px;
  left: 8px;
  transform: translateY(11px) rotate(-45deg);
  width: 70%;
}
header .headerInner .openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
header .headerInner .openbtn.active span:nth-of-type(3) {
  top: 33px;
  left: 8px;
  transform: translateY(-11px) rotate(45deg);
  width: 70%;
}
@media screen and (max-width: 680px) {
  header .headerInner .nav {
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.6s;
    /* background-color: rgba(252, 252, 252, 50); */
    width: 60%;
    height: 100vh;
  }
}
header .headerInner .nav .navList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 680px) {
  header .headerInner .nav .navList {
    flex-direction: column;
    padding: 30px;
    width: auto;
    margin-top: 105px;
    margin-right: 5px;
  }
}
header .headerInner .nav .navList .item {
  text-align: center;
  width: 20%;
}
@media screen and (max-width: 680px) {
  header .headerInner .nav .navList .item {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  header .headerInner .nav .navList .item a {
    font-size: 17px;
    line-height: 2.2;
  }
}
header .headerInner .nav.active {
  right: 0;
  overflow: hidden;
}
.timetablenavisp {
  width: 115%;
  text-align: center;
  margin-top: 15px;
}
.timenavi {
  font-size: 11px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
  color: #5ee5cf;
  line-height: 15px;
  margin-top: 15px;
  text-align: left;
}
@media screen and (min-width: 680px) {
  .timenavi {
    display: none;
  }
}
@media screen and (min-width: 680px) {
  .timetablenavisp {
    display: none;
  }
}

/* トグルメニュー */

/* ヘッダー続き */
.headtop {
  display: flex;
  align-items: center;
  height: 90px;
  margin-top: 14px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .headtop {
    width: 680px;
  }
}
.logopc {
  width: 298px;
}
@media screen and (max-width: 680px) {
  .logopc {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .logosp {
    width: 203px;
    transform: translateX(-107%);
  }
}
@media screen and (min-width: 680px) {
  .logosp {
    display: none;
  }
}
.phone {
  width: 195px;
  margin-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .phone {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .sarchicon {
    width: 47px;
    margin-left: -132px;
    margin-top: 5px;
    position: absolute;
  }
}
@media screen and (min-width: 680px) {
  .sarchicon {
    display: none;
  }
}
.headinfo {
  flex-flow: column;
  margin-left: 40px;
}
.toptext {
  font-size: 14px;
  color: #443736;
}
@media screen and (max-width: 680px) {
  .headinfo {
    display: none;
  }
}
.navList {
  margin-top: 14px;
  display: flex;
  font-size: 20px;
  text-align: center;
  list-style: none;
  background-color: #5ee5cf;
  line-height: 37px;
}
@media screen and (max-width: 680px) {
  .navList {
    background-color: #fff;
    border-radius: 50px;
    border: solid;
    border-color: #5ee5cf;
  }
}

.navList .item {
  width: calc((100% - 10%) / 5);
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 2px #ffffff;
  height: 37px;
}
@media screen and (max-width: 680px) {
  .navList .item {
    border-right: none;
    height: auto;
  }
}
.navList a {
  text-decoration-line: none;
  color: white;
  /* border-right: solid 1px #ffffff;
  border-right-width: 0; */
}
@media screen and (max-width: 680px) {
  .navList a {
    color: #5ee5cf;
  }
}
.navList a:hover {
  color: #5ee5cf;
  background-color: #fff;
  padding: 5px;
}
@media screen and (max-width: 680px) {
  .navList a:hover {
    color: #ff6477;
    padding: 5px;
  }
}

/* タイトル */
.titleimage {
  width: 100%;
  margin-top: 160px;
}
@media screen and (max-width: 680px) {
  .titleimage {
    width: 100%;
    margin-top: 25%;
  }
}
.pagetitle {
  font-size: 65px;
  color: #fff;
  text-shadow: 1px 1px 7px #000;
  font-weight: 400;
  margin-top: -225px;
  margin-left: 371px;
  letter-spacing: 3px;
}
@media screen and (max-width: 680px) {
  .pagetitle {
    font-size: 33px;
    text-align: center;
    margin: 0 auto;
    margin-top: -20%;
  }
}
.titletext {
  text-align: center;
  margin-top: 240px;
  font-size: 30px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  color: #443736;
  line-height: 45px;
}
@media screen and (max-width: 680px) {
  .titletext {
    margin: 0 auto;
    margin-top: 24%;
    font-size: 16px;
    line-height: 25px;
  }
}

/* カテゴリー一覧 */
.pagejumpnav {
  border: dashed #5ee5cf;
  border-radius: 60px;
  margin-top: 75px;
  column-count: 2;
  width: 750px;
  margin-left: 125px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 190px;
}
@media screen and (max-width: 680px) {
  .pagejumpnav {
    width: 85%;
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    border-radius: 35px;
  }
}
.category a {
  text-decoration-line: none;
  color: #443736;
}
.category a:hover {
  color: #ff6477;
}
.category {
  list-style-type: none;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 50px;
  margin-left: 55px;
}
@media screen and (max-width: 680px) {
  .category {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 15px;
    margin-left: 10%;
  }
}

/* 一般内科診療 */
.categorytitle1 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle1 {
    font-size: 19px;
  }
}
#category1 {
  padding-top: 250px;
  margin-top: -250px;
}
@media screen and (max-width: 680px) {
  #category1 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle1 .image1 {
  width: 240px;
  margin-top: -100px;
  margin-left: 150px;
}
@media screen and (max-width: 680px) {
  .categorytitle1 .image1 {
    width: 120px;
    margin-top: -70px;
    margin-left: 70px;
  }
}
.text1 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text1 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 生活習慣病の診断・治療 */
.categorytitle2 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle2 {
    font-size: 19px;
  }
}
#category2 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category2 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle2 .image2 {
  width: 286px;
  margin-top: -115px;
  margin-left: 5px;
}
@media screen and (max-width: 680px) {
  .categorytitle2 .image2 {
    width: 120px;
    margin-top: -70px;
    margin-left: 5px;
  }
}
.text2 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text2 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 消化器系の診察 */
.categorytitle3 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle3 {
    font-size: 19px;
  }
}
#category3 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category3 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle3 .image3 {
  width: 234px;
  margin-top: -115px;
  margin-left: 110px;
}
@media screen and (max-width: 680px) {
  .categorytitle3 .image3 {
    width: 120px;
    margin-top: -70px;
    margin-left: 50px;
  }
}
.text3 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text3 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 呼吸器系の診察 */
.categorytitle4 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle4 {
    font-size: 19px;
  }
}
#category4 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category4 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle4 .image4 {
  width: 234px;
  margin-top: -115px;
  margin-left: 110px;
}
@media screen and (max-width: 680px) {
  .categorytitle4 .image4 {
    width: 120px;
    margin-top: -70px;
    margin-left: 50px;
  }
}
.text4 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text4 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 健康診断 */
.categorytitle5 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle5 {
    font-size: 19px;
  }
}
#category5 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category5 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle5 .image5 {
  width: 288px;
  margin-top: -115px;
  margin-left: 110px;
}
@media screen and (max-width: 680px) {
  .categorytitle5 .image5 {
    width: 120px;
    margin-top: -70px;
    margin-left: 20px;
  }
}
.text5 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text5 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 予防接種 */
.categorytitle6 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle6 {
    font-size: 19px;
  }
}
#category6 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category6 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle6 .image6 {
  width: 216px;
  margin-top: -115px;
  margin-left: 200px;
}
@media screen and (max-width: 680px) {
  .categorytitle6 .image6 {
    width: 120px;
    margin-top: -70px;
    margin-left: 90px;
  }
}
.text6 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text6 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
  }
}

/* 禁煙外来 */
.categorytitle7 {
  display: flex;
  color: #ff6477;
  font-size: 36px;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .categorytitle7 {
    font-size: 19px;
  }
}
#category7 {
  padding-top: 270px;
  margin-top: -270px;
}
@media screen and (max-width: 680px) {
  #category7 {
    padding-top: 170px;
    margin-top: -170px;
  }
}
.categorytitle7 .image7 {
  width: 245px;
  margin-top: -115px;
  margin-left: 200px;
}
@media screen and (max-width: 680px) {
  .categorytitle7 .image7 {
    width: 120px;
    margin-top: -70px;
    margin-left: 90px;
  }
}
.text7 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  font-style: normal;
  width: 760px;
  margin-left: 120px;
  color: #443736;
  margin-bottom: 160px;
}
@media screen and (max-width: 680px) {
  .text7 {
    font-size: 16px;
    line-height: 28px;
    width: 76%;
    margin-left: 12%;
    margin-bottom: 10%;
  }
}

/* スタッフ紹介 */
.staff {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: #443736;
}
@media screen and (max-width: 680px) {
  .staff {
    font-size: 16px;
    line-height: 25px;
  }
}
.staff .text {
  width: 730px;
  margin-left: 135px;
  line-height: 45px;
}
@media screen and (max-width: 680px) {
  .staff .text {
    margin: 0 auto;
    margin-top: 5%;
    width: 73%;
    line-height: 30px;
  }
}
.stafficon {
  width: 340px;
  margin-left: 330px;
  margin-bottom: 80px;
}
@media screen and (max-width: 680px) {
  .stafficon {
    width: 40%;
    margin: 0 auto;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 0;
  }
}

.satou {
  display: flex;
  width: 730px;
  margin-left: 145px;
  margin-top: 100px;
}
@media screen and (max-width: 680px) {
  .satou {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.satouimage {
  width: 300px;
}
@media screen and (max-width: 680px) {
  .satouimage {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.satoutext1 {
  margin-top: 70px;
  line-height: 40px;
  width: 370px;
  margin-left: 60px;
}
@media screen and (max-width: 680px) {
  .satoutext1 {
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 25px;
  }
}
.satoutext2 {
  margin-top: 30px;
  width: 730px;
  margin-left: 145px;
}
@media screen and (max-width: 680px) {
  .satoutext2 {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 25px;
  }
}

.suzuki {
  display: flex;
  width: 730px;
  margin-left: 145px;
  margin-top: 100px;
}
@media screen and (max-width: 680px) {
  .suzuki {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.suzukiimage {
  width: 300px;
}
@media screen and (max-width: 680px) {
  .suzukiimage {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.suzukitext1 {
  margin-top: 70px;
  line-height: 40px;
  width: 370px;
  margin-left: 60px;
}
@media screen and (max-width: 680px) {
  .suzukitext1 {
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 25px;
  }
}
.suzukitext2 {
  margin-top: 30px;
  width: 710px;
  margin-left: 145px;
}
@media screen and (max-width: 680px) {
  .suzukitext2 {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 25px;
  }
}

.tanaka {
  display: flex;
  width: 730px;
  margin-left: 145px;
  margin-top: 100px;
}
@media screen and (max-width: 680px) {
  .tanaka {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.tanakaimage {
  width: 300px;
}
@media screen and (max-width: 680px) {
  .tanakaimage {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.tanakatext1 {
  margin-top: 70px;
  line-height: 40px;
  width: 370px;
  margin-left: 60px;
}
@media screen and (max-width: 680px) {
  .tanakatext1 {
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 25px;
  }
}
.tanakatext2 {
  margin-top: 30px;
  width: 710px;
  margin-left: 145px;
}
@media screen and (max-width: 680px) {
  .tanakatext2 {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 25px;
  }
}

.takahashi {
  display: flex;
  width: 730px;
  margin-left: 145px;
  margin-top: 100px;
}
@media screen and (max-width: 680px) {
  .takahashi {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.takahashiimage {
  width: 300px;
}
@media screen and (max-width: 680px) {
  .takahashiimage {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.takahashitext1 {
  margin-top: 70px;
  line-height: 40px;
  width: 370px;
  margin-left: 60px;
}
@media screen and (max-width: 680px) {
  .takahashitext1 {
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 25px;
  }
}
.takahashitext2 {
  margin-top: 30px;
  width: 710px;
  margin-left: 145px;
}
@media screen and (max-width: 680px) {
  .takahashitext2 {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 25px;
  }
}

.yamamoto {
  display: flex;
  width: 730px;
  margin-left: 145px;
  margin-top: 100px;
}
@media screen and (max-width: 680px) {
  .yamamoto {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.yamamotoimage {
  width: 300px;
}
@media screen and (max-width: 680px) {
  .yamamotoimage {
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
.yamamototext1 {
  margin-top: 70px;
  line-height: 40px;
  width: 370px;
  margin-left: 60px;
}
@media screen and (max-width: 680px) {
  .yamamototext1 {
    font-size: 13px;
    width: 37%;
    margin: 0 auto;
    margin-top: 10%;
    line-height: 25px;
  }
}
.yamamototext2 {
  margin-top: 30px;
  width: 710px;
  margin-left: 145px;
}
@media screen and (max-width: 680px) {
  .yamamototext2 {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 25px;
  }
}

/* バナー */
.banner {
  text-align: center;
  width: 825px;
  margin: 0 auto;
  margin-top: 86px;
}
@media screen and (max-width: 680px) {
  .banner {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
.banner1 {
  margin-bottom: 30px;
}

/* フッター */
.footer {
  text-align: center;
  background-color: #defff4;
  width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  height: 318px;
}
@media screen and (max-width: 680px) {
  .footer {
    width: 100%;
    height: auto;
  }
}
.footer1 {
  display: flex;
  justify-content: space-evenly;
}
.footer1 .logo {
  width: 454px;
  margin-top: 53px;
}
@media screen and (max-width: 680px) {
  .footer1 .logo {
    width: 42%;
    margin-top: 5%;
  }
}
.footer1 .timetable {
  width: 465px;
  margin-top: 60px;
}
@media screen and (max-width: 680px) {
  .footer1 .timetable {
    width: 52%;
    margin-top: 5%;
  }
}
.footer2 {
  display: flex;
  justify-content: space-evenly;
}
.footer2 .phone2 {
  width: 329px;
  margin-top: 20px;
}
@media screen and (max-width: 680px) {
  .footer2 .phone2 {
    width: 35%;
  }
}
.footer2 .text {
  font-size: 20px;
  line-height: 30px;
  color: #443736;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}
@media screen and (max-width: 680px) {
  .footer2 .text {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 5%;
  }
}
